<h2>Very minimalistic todo list. Without any styling.</h2>
Type in a new entry and press enter.<br />
The shared validation logic is used in backbone and on the server to validate the model.<br /><br />
<input type="text" id="new-entry" />

<ul>

</ul>